.container {
    width: 90vw; /* 90% of the viewport width */
    max-width: 90vw; /* Set a max width for the container */
    margin: none;
    padding-left: 5vw; 
    padding-right:5vw;  
    padding-top: 5vh;
    padding-bottom: 5vh; /* Add some padding inside the container */
    border: none;
    /*box-shadow: 0 2px 10px rgba(2, 53, 8, 0.762); /* Optional: add a shadow for depth */
    align-items: center;
    text-align: center;
    justify-content: center;
    justify-items: center;
    align-content: center;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f7f7f7;
    color: #333;
    margin: none;
    display: flex;
 

}

h1 {
    font-size: 3rem;
    font-weight: bold;
    color: #2c3e50;
    margin-bottom: 15px;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding-bottom: 25px;
}

h2 {
    font-size: 2rem;
    font-weight: bold;
    color: #2c3e50;
    margin-bottom: 15px;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding-bottom: 10px;
}

h3 {
    font-size: 1.5rem;
    font-weight: normal;
    color: #34495e;
    margin-bottom: 2%;
}

h1, h2 {
    transition: color 0.3s ease;
}

h2:hover,h3:hover {
    color: #2980b9;
}
h2:hover +.bar {
    background-color: #2980b9; /* separate rule, otherwise h2's background changes too! */
}

p{
    font-size: 1rem;
    color: pink;
    font-weight: normal;
    text-transform: lowercase;
    letter-spacing: none;
    padding-bottom: none;
}

.section{
    width:100%;
    justify-items: center;
    justify-content: center;
}

.bar {
    width: 10%;
    height: 3px;
    background-color: #2c3e50;
    /* margin-left: 1%; /* left align with a little hanging part */
    margin: 3vh;
    display: flex;
    justify-self: center;
}   


.toggles{
    display:none;
}


.gallery{
    display: grid;
    height: 70vh;
    width: 70vw ;
}
.gallery-images{
    display: grid;
    grid-template-columns: 70vw  70vw  70vw ;
    overflow: hidden;
    background:  rgba(192, 191, 191, 0.205);
    border-radius: 8px;

}
#gallery_image_container{
    position: flex;
    height: 70vh;
    width: 70vw ;
    justify-content: center;
    align-items: center;
}
#gallery_image_container_next{
    position:flex;
    height: 70vh;
    width: 70vw ;
    justify-content: center;
}
#gallery_image_container_prev{
    position:flex;
    height: 70vh;
    width: 70vw;
    justify-content: center;
}

#gallery_image{
    object-position: center;
    max-width: 100%;
    max-height: 100%;
}

#gallery_image_next{
    object-position: center;
    max-width: 100%;
    max-height: 100%;
}

#gallery_image_prev{
    object-position: center;
    max-width: 100%;
    max-height: 100%;
}


.slide-left {
    animation: slideOut 1s forwards; /* Slide to the left */
}
.slide-right {
    animation: slideOut 1s backwards; /* Slide to the right */
}

@keyframes slideOut {
    from {
        transform: translateX(0); /* Start position */
    }
    to {
        transform: translateX(-100%); /* End position */
    }
}

.gallery button  {
    height: 70vh;
    width: 2.5%;
    position: absolute;
    background: #19560481; 
    border: 1px solid rgba(255, 255, 255, 0.3); /* Soft border */
    color: #ffffff; 
    backdrop-filter: blur(8px); 
  }
  
.gallery button.right{
  border-top-right-radius: 8px; 
  border-bottom-right-radius: 8px; 
  justify-self: right;
  }
.gallery button.left{
  border-top-left-radius: 8px; 
  border-bottom-left-radius: 8px; 
  justify-self: left;
 }