.container {
    width: 90vw; /* 90% of the viewport width */
    max-width: 90vw; /* Set a max width for the container */
    margin: none;
    padding-left: 5vw; 
    padding-right:5vw;  
    padding-top: 5vh;
    padding-bottom: 5vh; /* Add some padding inside the container */
    border: none;
    /*box-shadow: 0 2px 10px rgba(2, 53, 8, 0.762); /* Optional: add a shadow for depth */
    align-items: center;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f7f7f7;
    color: #333;
    margin: none;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
}

h1 {
    font-size: 3rem;
    font-weight: bold;
    color: #2c3e50;
    margin-bottom: 15px;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding-bottom: 25px;
}

h2 {
    font-size: 2rem;
    font-weight: bold;
    color: #2c3e50;
    margin-bottom: 15px;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding-bottom: 10px;
}

h3 {
    font-size: 1.5rem;
    font-weight: normal;
    color: #34495e;
    margin-bottom: 2%;
}

h1, h2 {
    transition: color 0.3s ease;
}

h2:hover,h3:hover {
    color: #2980b9;
}
h2:hover +.bar {
    background-color: #2980b9; /* separate rule, otherwise h2's background changes too! */
}

p{
    font-size: 1rem;
    color: pink;
    font-weight: normal;
    text-transform: lowercase;
    letter-spacing: none;
    padding-bottom: none;
}

.bar {
    width: 100%;
    height: 3px;
    background-color: #2c3e50;
    /* margin-left: 1%; /* left align with a little hanging part */
    margin: 3vh;
}   


.toggles{
    display:none;
    transition: 3s ease;
}


#gallery_image_container{
    display: flex;
    align-items: center;
    position: relative;
    width: fit-content;
    width: auto;
    height: 70vh;

}

#gallery_image{
    height: 100%;
    width: auto;
    margin: 2vh none 2vh none;
}


#gallery button  {
    height: 100%;
    width: auto;

    background: #19560481; 
    border: 1px solid rgba(255, 255, 255, 0.3); /* Soft border */
    color: #1e730224; 
    backdrop-filter: blur(8px); /* Glassy blur effect */
    transition: all 0.3s ease; 
  }
  
#gallery button :hover {
    background: rgba(255, 255, 255, 0.3); /* Slightly more opaque on hover */
    transform: scale(1.05); /* Slight scale-up on hover */
  }
  
#gallery button.right{
  border-top-right-radius: 8px; 
  border-bottom-right-radius: 8px; 
  }
#gallery button.left{
  border-top-left-radius: 8px; 
  border-bottom-left-radius: 8px; 
 }